.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  font-size: x-small;
  background-color: #f0f0f0;
}

.error {
  background-color: #FF5555;
  width: 100%;
  padding: 5px 5px;
  animation: fadeOut 5s forwards;
}

.success {
  background-color: #54bb00;
  width: 100%;
  padding: 5px 5px;
  animation: fadeOut 3s forwards;
}

.content {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 135%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

dialog::backdrop {
  background-color: grey;
  opacity: 0.7;
}

table, th, td {
padding: 3px;
  border: 1px solid black;
  border-collapse: collapse;
}

.switch-field {
  display: flex;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 4px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: white;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: 4px;
  border: 1px solid rgba(0.2, 0.2, 0.2, 0.2);
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
  max-width: 35px;
  width: 35px;
  align-content: center;
  user-select: none;
}

.switch-field.narrow label {
  max-width: 21px;
  width: 21px;
}


.switch-field label:hover {
  cursor: pointer;
}

.switch-field input + label {
  background-color: rgb(240, 240, 240);
  color: black;
}

.switch-field input:checked + label {
  background-color: rgb(0, 90, 215);
  color: white;
  box-shadow: none;
}

fieldset {
  display: inline;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
}

label::after {
  content: "";
  line-height: 25px;
}

h3 {
  margin: 2px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: hidden;
    width: inherit;
    height: inherit;
    padding: 5px 5px;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0 0;
  }
}
