<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bridge-tab: {{ .TournamentName }}</title>
  </head>
  <body>
    <h1>Turniej "{{ .TournamentName }}"</h1>
    <form method="get" action="/round-registration/{{ .TournamentId }}/add-round">
      <input type="submit" value="Wpisz rozdanie"/>
  </form>
  
    <h2>Drużyny</h2>
    {{ range .Teams }}
      {{ if eq .Id $.JoinedTeamId }}
      <div>
        <form method="post" action="/tournaments/{{ $.TournamentId }}/teams/{{ .Id }}/leave">
          {{ .Name }}
          <button type="submit">Opuść</button>
        </form>
      </div>
      {{ else }}
        {{ if not $.JoinedTeamId }}
        <div>
          <form method="post" action="/tournaments/{{ $.TournamentId }}/teams/{{ .Id }}/join">
            {{ .Name }}
            <button type="submit">Dołącz</button>
          </form>
        </div>
        {{ else }}
        <div>
          {{ .Name }}
        </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </body>
</html>
