<!DOCTYPE html>
<html>
  <head>
    <title>Bridge-tab{{ if .Title }}: {{ .Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="/script/layout.js"></script>
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
    <div class="header">
      <h1>Bridge-tab</h1>
    </div>
    <div class="content" id="content">
      {{ if .Success }}
        <div class="success" id="success">
          {{ .Success }}
        </div>
      {{ end }}
      {{embed}}
    </div>
    <div class="footer" id="footer">
      {{ .UserId }}
    </div>
  </body>
</html>
