<h1>Turniej "{{ .TournamentName }}"</h1>
{{ if .Started }}
  <h2>Turniej wystartował!</h2>
  {{ if .JoinedTeam.Name }}
  <h3>Drużyna {{ .JoinedTeam.Name }}</h3>
  <form method="get" action="/round-registration/{{ .TournamentId }}/add-round">
    <input type="submit" value="Wpisz rozdanie"/>
  </form>
  {{ end }}
{{ else }}
  <h2>Drużyny</h2>
  {{ range .Teams }}
    {{ if eq .Id $.JoinedTeam.Id }}
    <div>
      <form method="post" action="/tournaments/{{ $.TournamentId }}/teams/{{ .Id }}/leave">
        <b>{{ .Name }}</b>
        <button type="submit">Opuść</button>
      </form>
    </div>
    {{ else }}
      {{ if not $.JoinedTeam.Id }}
        {{ if lt (len .Members) 2 }}
            <div style="padding-top: 8px">
              <form method="post" action="/tournaments/{{ $.TournamentId }}/teams/{{ .Id }}/join">
                {{ .Name }}
                <button type="submit">Dołącz do drużyny</button>
              </form>
            </div>
        {{else}}
            <div>
                {{ .Name }} - Pełna
            </div>
        {{end}}
      {{ else }}
        <div>
          {{ .Name }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
